body {
    font-family: Verdana, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
}

.wrapper {
    margin: 0 auto 0 auto;
    padding: 5em 0 5em 0;
}

.title {
    width: 20em;
}

#start-pause-game {
    font-size: 3em;
    padding-top: 0.5em;
    cursor: pointer;
}

#restart-game {
    font-size: 3em;
    padding-top: 0.5em;
    cursor: pointer;
}

.container {
    margin-top: 5em;
    display: flex;
    justify-content: center;
}

.left-grid {
    margin-right: 50px;
}

.right-grid {
    margin-left: 50px;
}

.tetris-grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FFFFFF;
    align-items: center; 
}

.tetris-grid div {
    width: 20px;
    height: 20px;
}

.upcoming-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.upcoming-grid div {
    height: 20px;
    width: 20px;
}

.hold-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.hold-grid div {
    height: 20px;
    width: 20px;
}